.four-chars {
    width: 6ch;
    padding: 0.25rem 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
}
.center-text {
    text-align: center;
}
.center-buttons {
    display: flex !important;
    justify-content: center !important;
    gap: 1px !important;
    width: 100%;
}