#root {
  margin: 0 auto;
  padding: 1rem;
}

.parent-container {
    display: flex;
    justify-content: flex-end;
}

.DialogContent {
	min-width: 700px;
	background: white;
	padding: 30px;
	border-radius: 4px;
}